<a href="https://colab.research.google.com/github/MohammedEsamaldin/week1_10academy/blob/main/notebooks/Experience_Analytics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
import numpy as np
from IPython.display import Image
import matplotlib.pyplot as plt
#db = pd.read_csv('/content/drive/MyDrive/Week-1/data/Week1_challenge_data_source(CSV).csv',  na_values=['?', None])
df = pd.read_csv('/content/drive/MyDrive/cleaned_data.csv',na_values= ['?',None])
df.isnull().sum().head(60)

Bearer Id                                   0
Start                                       0
Start ms                                    0
End                                         0
End ms                                      0
Dur. (ms)                                   0
IMSI                                        0
MSISDN/Number                               0
IMEI                                        0
Last Location Name                          0
Avg RTT DL (ms)                             0
Avg RTT UL (ms)                             0
Avg Bearer TP DL (kbps)                     0
Avg Bearer TP UL (kbps)                     0
TCP DL Retrans. Vol (Bytes)                 0
TCP UL Retrans. Vol (Bytes)                 0
DL TP < 50 Kbps (%)                         0
50 Kbps < DL TP < 250 Kbps (%)              0
250 Kbps < DL TP < 1 Mbps (%)               0
DL TP > 1 Mbps (%)                          0
UL TP < 10 Kbps (%)                         0
10 Kbps < UL TP < 50 Kbps (%)               0
50 Kbps < UL TP < 300 Kbps (%)              0
UL TP > 300 Kbps (%)                        0
HTTP DL (Bytes)                             0
HTTP UL (Bytes)                             0
Activity Duration DL (ms)                   0
Activity Duration UL (ms)                   0
Dur. (ms).1                                 0
Handset Manufacturer                        0
Handset Type                                0
Nb of sec with 125000B < Vol DL             0
Nb of sec with 1250B < Vol UL < 6250B       0
Nb of sec with 31250B < Vol DL < 125000B    0
Nb of sec with 37500B < Vol UL              0
Nb of sec with 6250B < Vol DL < 31250B      0
Nb of sec with 6250B < Vol UL < 37500B      0
Nb of sec with Vol DL < 6250B               0
Nb of sec with Vol UL < 1250B               0
Social Media DL (Bytes)                     0
Social Media UL (Bytes)                     0
Google DL (Bytes)                           0
Google UL (Bytes)                           0
Email DL (Bytes)                            0
Email UL (Bytes)                            0
Youtube DL (Bytes)                          0
Youtube UL (Bytes)                          0
Netflix DL (Bytes)                          0
Netflix UL (Bytes)                          0
Gaming DL (Bytes)                           0
Gaming UL (Bytes)                           0
Other DL (Bytes)                            0
Other UL (Bytes)                            0
Total UL (Bytes)                            0
Total DL (Bytes)                            0
total DL/UL traffic                         0
DL/UL Social Media                          0
DL/UL Netflix                               0
DL/UL Google                                0
DL/UL Gaming                                0
dtype: int64

In [9]:
db.columns

Index(['Bearer Id', 'Start', 'Start ms', 'End', 'End ms', 'Dur. (ms)', 'IMSI',
       'MSISDN/Number', 'IMEI', 'Last Location Name', 'Avg RTT DL (ms)',
       'Avg RTT UL (ms)', 'Avg Bearer TP DL (kbps)', 'Avg Bearer TP UL (kbps)',
       'TCP DL Retrans. Vol (Bytes)', 'TCP UL Retrans. Vol (Bytes)',
       'DL TP < 50 Kbps (%)', '50 Kbps < DL TP < 250 Kbps (%)',
       '250 Kbps < DL TP < 1 Mbps (%)', 'DL TP > 1 Mbps (%)',
       'UL TP < 10 Kbps (%)', '10 Kbps < UL TP < 50 Kbps (%)',
       '50 Kbps < UL TP < 300 Kbps (%)', 'UL TP > 300 Kbps (%)',
       'HTTP DL (Bytes)', 'HTTP UL (Bytes)', 'Activity Duration DL (ms)',
       'Activity Duration UL (ms)', 'Dur. (ms).1', 'Handset Manufacturer',
       'Handset Type', 'Nb of sec with 125000B < Vol DL',
       'Nb of sec with 1250B < Vol UL < 6250B',
       'Nb of sec with 31250B < Vol DL < 125000B',
       'Nb of sec with 37500B < Vol UL',
       'Nb of sec with 6250B < Vol DL < 31250B',
       'Nb of sec with 6250B < Vol UL < 37500B',
       'Nb of sec with Vol DL < 6250B', 'Nb of sec with Vol UL < 1250B',
       'Social Media DL (Bytes)', 'Social Media UL (Bytes)',
       'Google DL (Bytes)', 'Google UL (Bytes)', 'Email DL (Bytes)',
       'Email UL (Bytes)', 'Youtube DL (Bytes)', 'Youtube UL (Bytes)',
       'Netflix DL (Bytes)', 'Netflix UL (Bytes)', 'Gaming DL (Bytes)',
       'Gaming UL (Bytes)', 'Other DL (Bytes)', 'Other UL (Bytes)',
       'Total UL (Bytes)', 'Total DL (Bytes)'],
      dtype='object')

In [10]:
df['Average TCP retransmission']=df['TCP UL Retrans. Vol (Bytes)']+df['TCP DL Retrans. Vol (Bytes)']
df['Average RTT']=df['Avg RTT DL (ms)']+df['Avg RTT UL (ms)']
df['Average throughput']=df['Avg Bearer TP DL (kbps)']+df['Avg Bearer TP UL (kbps)']
df.head(10)

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,DL/UL Social Media,DL/UL Netflix,DL/UL Google,DL/UL Gaming,DL/UL Other,DL/UL Email,DL/UL Youtube,Average TCP retransmission,Average RTT,Average throughput
0,1.311448e+19,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9.16456699548519E+015,...,1570185.0,17855187.0,2905912.0,292426453.0,180558843.0,3701304.0,18355943.0,2660.0,47.0,67.0
1,1.311448e+19,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,1933278.0,35565545.0,4414096.0,609920783.0,541959383.0,937385.0,39359124.0,2660.0,70.0,42.0
2,1.311448e+19,4/9/2019 17:42,1.0,4/25/2019 11:58,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,...,1726277.0,23751202.0,10229119.0,229980251.0,414908351.0,3363124.0,34425237.0,2660.0,33.0,15.0
3,1.311448e+19,4/10/2019 0:31,486.0,4/25/2019 7:36,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,...,657493.0,15092588.0,11811761.0,810387875.0,761837216.0,2070983.0,36534765.0,2660.0,33.0,88.0
4,1.311448e+19,4/12/2019 20:10,565.0,4/25/2019 10:40,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,912788.0,17539799.0,7748843.0,531237049.0,564619822.0,2110349.0,34222253.0,2660.0,33.0,15.0
5,1.311448e+19,4/12/2019 21:37,439.0,4/25/2019 8:08,553.0,1074638.0,2.082014e+14,3.366819e+10,3.529841e+13,T89132C,...,3200014.0,13881809.0,12934133.0,723461512.0,659414334.0,2902410.0,23944031.0,2660.0,33.0,124.0
6,1.311448e+19,4/13/2019 8:41,612.0,4/25/2019 8:16,168.0,1035261.0,2.082014e+14,3.366537e+10,8.676270e+13,9.16456701058919E+015,...,1624991.0,31212766.0,4906872.0,58881157.0,814303325.0,2090979.0,9120760.0,2660.0,107.0,60.0
7,1.304243e+19,4/14/2019 2:11,592.0,4/25/2019 2:26,512.0,951292.0,2.082010e+14,3.376349e+10,8.654640e+13,CELL_208_20_520025_1,...,3161403.0,18933702.0,3872713.0,765055811.0,545316477.0,3500104.0,31924969.0,20850.0,57.0,4114.0
8,1.311448e+19,4/14/2019 12:48,121.0,4/25/2019 10:22,960.0,941634.0,2.082014e+14,3.369874e+10,3.556241e+13,T42084A,...,372625.0,19054441.0,8902099.0,828219634.0,187669517.0,3380069.0,29297508.0,2660.0,33.0,95.0
9,1.304243e+19,4/15/2019 0:32,0.0,4/25/2019 0:40,284.0,864482.0,2.082003e+14,3.365922e+10,3.557311e+13,L20434C,...,1585413.0,13185350.0,8778341.0,812946425.0,77671250.0,766046.0,22911539.0,3238627.0,104.0,6380.0

In [24]:
Ex_columns =['Average TCP retransmission','Average RTT','Average throughput','Handset Type'] 

Ex_agg = df.groupby(['MSISDN/Number']).agg({'Average TCP retransmission':'sum','Average RTT':'sum','Average throughput':'sum','Handset Type':'count'})
Ex_agg.head(10)

,Average TCP retransmission,Average RTT,Average throughput,Handset Type
MSISDN/Number,,,,
3.360100e+10,2660.0,46.0,76.0,1
3.360100e+10,2660.0,31.0,99.0,1
3.360100e+10,2660.0,33.0,97.0,1
3.360101e+10,2396.0,84.0,248.0,1
3.360101e+10,9373492.0,119.0,56844.0,2
3.360101e+10,6750.0,57.0,7908.0,2
3.360101e+10,112892.0,53.0,42513.0,2
3.360101e+10,1608.0,52.0,1247.0,1
3.360101e+10,5320.0,66.0,189.0,2
3.360102e+10,2624.0,62.0,146.0,1

In [19]:
test_data = pd.DataFrame(Ex_agg.loc[:,Ex_columns].values,columns = Ex_columns)
test_data.head(10)

   Average TCP retransmission  Average RTT  Average throughput  Handset Type
0                      2660.0         46.0                76.0           1.0
1                      2660.0         31.0                99.0           1.0
2                      2660.0         33.0                97.0           1.0
3                      2396.0         84.0               248.0           1.0
4                   9373492.0        119.0             56844.0           2.0
5                      6750.0         57.0              7908.0           2.0
6                    112892.0         53.0             42513.0           2.0
7                      1608.0         52.0              1247.0           1.0
8                      5320.0         66.0               189.0           2.0
9                      2624.0         62.0               146.0           1.0

In [20]:
#Top 10 most frequent TCP values in the dataset
Ex_agg.sort_values(by ='Average TCP retransmission' , ascending = False).head(10)

,Average TCP retransmission,Average RTT,Average throughput,Handset Type
MSISDN/Number,,,,
3.366773e+10,8.354209e+09,703.0,379713.0,5
3.365908e+10,7.941860e+09,396.0,210259.0,3
3.366098e+10,7.374140e+09,417.0,216852.0,5
3.376128e+10,6.043978e+09,351.0,144570.0,2
3.376264e+10,5.879989e+09,2860.0,549661.0,5
3.365066e+10,5.593366e+09,1543.0,259548.0,5
3.366318e+10,5.566929e+09,583.0,127603.0,4
3.376357e+10,5.179459e+09,479.0,120288.0,2
3.366905e+10,5.174218e+09,321.0,142042.0,4
3.365864e+10,5.165857e+09,171.0,105875.0,2

In [25]:
#Top 10 most frequent RTT values in the dataset.
Ex_agg.sort_values(by ='Average RTT' , ascending = False).head(10)

,Average TCP retransmission,Average RTT,Average throughput,Handset Type
MSISDN/Number,,,,
3.366232e+10,2660.0,96924.0,3.0,1
3.366087e+10,5320.0,64670.0,194.0,2
3.368369e+10,1422.0,54848.0,21.0,1
3.369855e+10,16969.0,46021.0,303.0,2
3.376181e+10,77615.0,37084.0,21200.0,4
3.366879e+10,5320.0,36304.0,108.0,2
3.376094e+10,540582.0,27278.0,5148.0,1
3.360679e+10,14630.0,26300.0,144.0,1
3.367182e+10,6650.0,25715.0,71.0,1
3.378187e+10,199904.0,25388.0,1608.0,1

In [26]:
#Top 10 most frequent Throughput values in the dataset.
Ex_agg.sort_values(by ='Average throughput' , ascending = False).head(10)

,Average TCP retransmission,Average RTT,Average throughput,Handset Type
MSISDN/Number,,,,
3.376233e+10,4.799180e+06,400.0,902222.0,9
3.366871e+10,1.429871e+08,500.0,840424.0,4
3.365955e+10,3.396954e+07,588.0,798342.0,8
3.366995e+10,6.271756e+07,370.0,690815.0,4
3.366843e+10,7.876596e+08,382.0,676858.0,4
3.369817e+10,6.139760e+07,205.0,618797.0,6
3.362570e+10,6.301692e+06,520.0,564179.0,7
3.365808e+10,2.878409e+07,567.0,550352.0,5
3.376264e+10,5.879989e+09,2860.0,549661.0,5
3.366566e+10,1.124825e+07,188.0,530353.0,2