<a href="https://colab.research.google.com/github/MohammedEsamaldin/week1_10academy/blob/main/notebooks/Satisfaction_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans

In [8]:
df = pd.read_csv('/content/drive/MyDrive/cleaned_data.csv',na_values= ['?',None])
df.head(10)

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9.16456699548519E+015,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311448e+19,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311448e+19,4/9/2019 17:42,1.0,4/25/2019 11:58,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,...,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311448e+19,4/10/2019 0:31,486.0,4/25/2019 7:36,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,...,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311448e+19,4/12/2019 20:10,565.0,4/25/2019 10:40,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0
5,1.311448e+19,4/12/2019 21:37,439.0,4/25/2019 8:08,553.0,1074638.0,2.082014e+14,3.366819e+10,3.529841e+13,T89132C,...,21332918.0,2611113.0,7345361.0,6536448.0,710293538.0,13167974.0,654978277.0,4436057.0,30307754.0,754452212.0
6,1.311448e+19,4/13/2019 8:41,612.0,4/25/2019 8:16,168.0,1035261.0,2.082014e+14,3.366537e+10,8.676270e+13,9.16456701058919E+015,...,7234465.0,1886295.0,13231006.0,17981760.0,44796223.0,14084934.0,803653557.0,10649768.0,47925246.0,70562047.0
7,1.304243e+19,4/14/2019 2:11,592.0,4/25/2019 2:26,512.0,951292.0,2.082010e+14,3.376349e+10,8.654640e+13,CELL_208_20_520025_1,...,12189786.0,19735183.0,6858496.0,12075206.0,748906189.0,16149622.0,537601820.0,7714657.0,58813016.0,775350343.0
8,1.311448e+19,4/14/2019 12:48,121.0,4/25/2019 10:22,960.0,941634.0,2.082014e+14,3.369874e+10,3.556241e+13,T42084A,...,18436641.0,10860867.0,10587264.0,8467177.0,821671285.0,6548349.0,172920486.0,14749031.0,42363146.0,861612261.0
9,1.304243e+19,4/15/2019 0:32,0.0,4/25/2019 0:40,284.0,864482.0,2.082003e+14,3.365922e+10,3.557311e+13,L20434C,...,16338345.0,6573194.0,12211149.0,974201.0,811355188.0,1591237.0,64856042.0,12815208.0,22417975.0,850570347.0

In [10]:
df['Average TCP retransmission']=df['TCP UL Retrans. Vol (Bytes)']+df['TCP DL Retrans. Vol (Bytes)']
df['Average RTT']=df['Avg RTT DL (ms)']+df['Avg RTT UL (ms)']
df['Average throughput']=df['Avg Bearer TP DL (kbps)']+df['Avg Bearer TP UL (kbps)']

In [13]:
Ex_agg = df.groupby(['MSISDN/Number']).agg({'Average TCP retransmission':'sum','Average RTT':'sum','Average throughput':'sum'})
Ex_agg.head()

               Average TCP retransmission  Average RTT  Average throughput
MSISDN/Number
3.360100e+10                       2660.0         46.0                76.0
3.360100e+10                       2660.0         31.0                99.0
3.360100e+10                       2660.0         33.0                97.0
3.360101e+10                       2396.0         84.0               248.0
3.360101e+10                    9373492.0        119.0             56844.0

In [14]:
features = ['Average TCP retransmission','Average RTT','Average throughput']
features_array = Ex_agg.loc[:,features].values
features_array = StandardScaler().fit_transform(features_array)
features_array

array([[-0.0802064 , -0.15557446, -0.49252384],
       [-0.0802064 , -0.17819963, -0.49198253],
       [-0.0802064 , -0.17518295, -0.4920296 ],
       ...,
       [-0.0802064 , -0.17518295, -0.49428898],
       [-0.0802064 , -0.17518295, -0.49353586],
       [-0.0802064 , -0.17518295, -0.49426545]])

In [15]:
normalized_data = pd.DataFrame(features_array,columns=features)
normalized_data

        Average TCP retransmission  Average RTT  Average throughput
0                        -0.080206    -0.155574           -0.492524
1                        -0.080206    -0.178200           -0.491983
2                        -0.080206    -0.175183           -0.492030
3                        -0.080208    -0.098257           -0.488476
4                        -0.019414    -0.045465            0.843523
...                            ...          ...                 ...
106466                   -0.078809    -0.146524           -0.250370
106467                   -0.080206    -0.164625           -0.491582
106468                   -0.080206    -0.175183           -0.494289
106469                   -0.080206    -0.175183           -0.493536
106470                   -0.080206    -0.175183           -0.494265

[106471 rows x 3 columns]

In [23]:
kmeans = KMeans(3)
kmeans.fit(features_array)
clusters = kmeans.fit_predict(features_array)
centroids = kmeans.cluster_centers_
clusters

array([0, 0, 0, ..., 0, 0, 0], dtype=int32)

In [17]:
normalized_data['cluster_num'] = clusters
normalized_data

,Average TCP retransmission,Average RTT,Average throughput,cluster_num
0,-0.080206,-0.155574,-0.492524,2
1,-0.080206,-0.178200,-0.491983,2
2,-0.080206,-0.175183,-0.492030,2
3,-0.080208,-0.098257,-0.488476,2
4,-0.019414,-0.045465,0.843523,2
...,...,...,...,...
106466,-0.078809,-0.146524,-0.250370,2
106467,-0.080206,-0.164625,-0.491582,2
106468,-0.080206,-0.175183,-0.494289,2
106469,-0.080206,-0.175183,-0.493536,2
106470,-0.080206,-0.175183,-0.494265,2

In [21]:
non_nomalized_data = Ex_agg[features]
non_nomalized_data['cluster'] = clusters
non_nomalized_data.head(10)

,Average TCP retransmission,Average RTT,Average throughput,cluster
MSISDN/Number,,,,
3.360100e+10,2660.0,46.0,76.0,0
3.360100e+10,2660.0,31.0,99.0,0
3.360100e+10,2660.0,33.0,97.0,0
3.360101e+10,2396.0,84.0,248.0,0
3.360101e+10,9373492.0,119.0,56844.0,0
3.360101e+10,6750.0,57.0,7908.0,0
3.360101e+10,112892.0,53.0,42513.0,0
3.360101e+10,1608.0,52.0,1247.0,0
3.360101e+10,5320.0,66.0,189.0,0
3.360102e+10,2624.0,62.0,146.0,0

In [24]:
satisfaction_data = non_nomalized_data.groupby('cluster').agg({'Average TCP retransmission':'mean','Average RTT':'mean','Average throughput':'mean'})
satisfaction_data.head()

         Average TCP retransmission  Average RTT  Average throughput
cluster
0                      2.340176e+06   120.020667         9665.362886
1                      2.947360e+09   366.013043       149690.400000
2                      3.806788e+07   398.805660       117269.955216